/* common css starts  */
a{
    padding: 10px;
    color: beige;
    display: inline-block;
}
/* common css ends  */
/* sode nav style */
.side-nav{
    background: rgb(128, 33, 128);
    width: 150px;
    position: fixed;
    top: 20px;
    display: none;
}
.side-nav ul{
    list-style-type: none;
}
.side-nav ul li a{
    text-decoration: none;

}
.side-nav ul li:hover > a{
    background: peru;
    color: rgb(124, 30, 30);
    transition: .8s;
    text-transform: uppercase;
}
/* side nav style ends  */
/* nav css  */
nav{
    background: purple;
}
nav .logo{
    color: beige;
}
nav .color ul li a{
    padding: 10px;
    color: beige;
}
nav .color ul li:hover > a{
    background: peru;
    color: rgb(124, 30, 30);
    transition: .8s;
    text-transform: uppercase;
}